<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Management</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">System obsługi biblioteki</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/customers}">Obsługa Klientów</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/employees}">Obsługa Pracowników</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
</nav> 

<br>
<br>

	<div class = "container">
		<div class = "row">
			<h1>Lista Pracowników biblioteki</h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/employees/new}" class = "btn btn-primary btn-sm mb-3">Dodaj Pracownika</a>
			</div>
		</div>
		
		<table class = "table table-striped">
			<thead class = "table-dark">
				<th>Imię</th>
				<th>Nazwisko</th>
				<th>E-mail</th>
				<th>Akcje</th>
			</thead>
			
			<tbody>
				<tr th:each = "employee: ${employees}">
					<td th:text = "${employee.firstName}"></td>
					<td th:text = "${employee.lastName}"></td>
					<td th:text = "${employee.email}"></td>
					<td>
					<a th:href = "@{/employees/edit/{id}(id=${employee.id})}"
						class = "btn btn-success" style="margin:5px;"> Edytuj
					<a th:href = "@{/employees/{id}(id=${employee.id})}"
						class = "btn btn-danger"> Usuń	
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>